body {
  margin: 0;
  padding: 0;
  background-color: white;
  display: grid;
  font-family: Optima, sans-serif;
}

a {
  text-decoration: none;
}
.header {
  background-image: url("https://d3cin4duo2vkym.cloudfront.net/images/2019/6/14/MPKFIBKOSSCHTGR.20190614183503.jpg");
  background-position: center -60px;
  background-blend-mode: color;
  text-align: center;
  font-size: 40px;

  color: whitesmoke;
  border-color: black;
  border-width: 4px;
  border-top-style: hidden;
  border-right-style: hidden;
  border-left-style: hidden;
  padding: 15px;
  display: flex;
  align-items: center;
  justify-content: center;
}

@keyframes bounce {
  0% {
    transform: translatey(-250px);
  }
  25% {
    transform: translateY(65px);
  }
  50% {
    transform: translateY(-100px);
  }
  75% {
    transform: translateY(65px);
  }
  100% {
    transform: translateY(0px);
  }
}

.basketball-img {
  position: relative;
  width: 80px;
  margin: 40px;
  animation: bounce 3.5s ease-in-out;
}

@keyframes bounce2 {
  0% {
    transform: translatey(-250px);
  }
  25% {
    transform: translateY(-250px);
  }
  50% {
    transform: translateY(-250px);
  }
  62.5% {
    transform: translateY(70px);
  }
  75% {
    transform: translateY(-100px);
  }
  87.5% {
    transform: translateY(70px);
  }
  100% {
    transform: translateY(0px);
  }
}

#title {
  position: relative;
  animation: bounce2 6s ease-in-out;
}

.bar {
  width: 100%;
  background-color: white;
  display: flex;
  align-items: center;
  font-size: xx-large;
  padding: 0;
  justify-content: space-between;
  position: fixed;
}
#wnba-logo {
  width: 150px;
  margin: 0%;
}
#wnba-logo-text {
  color: orangered;
  margin-left: -50px;
}
#corner-logo {
  display: flex;
  align-items: center;
}

#bar-buttons {
  margin-right: 20px;
}

#calc-button {
  margin: 30px;
  color: white;
  background-color: orangered;
  font-family: Optima, sans-serif;
  border-radius: 10px;
  width: 100px;
  height: 40px;
  border: 0;
  border: 2px;
  border-style: solid;
  border-color: orangered;
}

#abt-button {
  margin: 30px;
  color: orangered;
  background-color: white;
  font-family: Optima, sans-serif;
  border-radius: 10px;
  width: 100px;
  height: 40px;
  border: 0;
  border: 2px;
  border-style: solid;
  border-color: orangered;
}

#calc-button:hover {
  cursor: pointer;
}
#abt-button:hover {
  background-color: orangered;
  color: white;
  cursor: pointer;
}

#root {
  margin-top: 110px;
  width: 100%;
}

#app {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: bottom;
  background-color: white;
  height: 89.4vh;
}

#history {
  display: flex;
  flex-direction: column;
  width: 20%;
  background-color: lightgray;
  height: 82vh;
  border-radius: 50px;
  overflow: scroll;
  align-items: center;
  color: orangered;
  margin: 20px;
}

#history-header {
  position: sticky;
  top: 0;
}

.history-link {
  border-style: none;
  background-color: lightgray;
  cursor: pointer;
  color: orangered;
  font-family: Optima, sans-serif;
  font-size: medium;
}

.input-header {
  margin-bottom: 10px;
  color: orangered;
  font-weight: bold;
}

#input-output {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: white;
  height: 89.4vh;
  width: 80%;
}
#player-input {
  display: flex;
  flex-direction: row;
  height: 100px;
  align-items: center;
  border: 2.5px;
  border-style: solid;
  border-color: orangered;
  border-radius: 10px;
  width: 70%;
  justify-content: center;
  margin-bottom: 20px;
}

#first-player-input {
  margin: 30px;
}

#second-player-input {
  margin: 30px;
}

#submit-button {
  margin: 30px;
  color: orangered;
  background-color: white;
  font-family: Optima, sans-serif;
  border-radius: 10px;
  width: 100px;
  height: 40px;
  border: 2px;
  border-style: solid;
  border-color: orangered;
}

#submit-button:hover {
  background-color: orangered;
  color: white;
  cursor: pointer;
}

#player-output {
  height: 75%;
  display: flex;
  flex-direction: column;
}
#players {
  height: 35%;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

#player-one-output {
  width: 300px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#player-one-logo {
  width: 175px;
}

#player-two-output {
  width: 300px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#player-two-logo {
  width: 175px;
}

.player-name {
  color: orangered;
  font-size: large;
}

#results {
  height: 60%;
  overflow: scroll;
  width: 1000px;
}
